:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
 }
 body{
      width: 100%;
      height: 100%;
      background-color: var(--dark-color);
      position: relative;
      font-family: 'verdana',sans-serif;
 }

 .container{
   width: 100%;
   height: 100%;
   background-color: var(--dark-color);
 }

 header{
      width: 100%;
      height: 80px;
      background-color: var(--dark-color);
 }

 table{
      width: 100%;
      height: 100%;
      top: 150%;
 }

 thead{
      width: 100%;
      height: 80px;
      background-color: #2c3e50;
 }

 th{
      padding: 10px 15px;
      color: var(--light-color);
 }
 .heading,
 .data{
      text-align: center;
      color: var(--light-color);
      background-color: #34495e;
      position: relative;
      font-family: 'verdana',sans-serif;
 }
 td{
      padding: 5px 10px;
      color: var(--light-color);
 }

 h4{
   color: #FFF;
 }

 /*Main Data Table */
.mainTable{
	text-align: center;
	margin-top: 10px;
}
#table{
	margin: 5px auto;
}
table tr:not(:first-child){
	cursor: pointer;
	transition: all .25s ease-in-out;
}
table tr:not(:first-child):hover{
	background-color: #ddd;
}

table{
    width: 60%;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd){
    background-color: var(--dark-color);
}

/*Data Update Button */
.updateBtn{
	text-align: center;
}
.updateBtn button{
	background-color: red;
	padding: 5px 10px;
	border: 1px solid black;
	color: white;
	margin: 10px 0;
	border-radius: 5px;
}
.updateBtn button:hover{
	background: lightgray;
	color: black;
	transition: .5s;
}

/*Data Update Table*/
.editTable{
	display: none;
	padding-top: 20px;
	width: 30%;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.editRowBtn{
	background-color: #0DC143;
	color: white;
	border: 1px solid black;
	padding: 5px 10px;
	border-radius: 5px;
}
.editRowBtn:hover{
	background-color: lightgray;
	color: black;
	transition: .5s;
}

 // X-Small devices (portrait phones, less than 576px)
 // No media query for `xs` since this is the default in Bootstrap

 // Small devices (landscape phones, 576px and up)
 @media (min-width: 576px) {
   *{
         padding: 0;
         margin: 0;
         box-sizing: border-box;
    }
    body{
         width: 100%;
         height: 100%;
         background-color: var(--dark-color);
         position: relative;
         font-family: 'verdana',sans-serif;
    }

    card-header{
      width: 100%;
      height: 100%;
      background-color: var(--dark-color);
    }

    header{
         width: 100%;
         height: 80px;
         background-color: var(--dark-color);
    }
    table{
         width: 100%;
         height: 100%;
         position: absolute;
         top: 50%;
    }
    .heading{
         background-color: var(--light-color);
    }

    th{
         padding: 10px 0;
         color: var(--light-color);
    }
    data{
         text-align: center;
         color: var(--light-color);
    }
    td{
         padding: 15px 0;
         color: var(--light-color);
    }
    #btn{
         text-decoration: none;
         color: #FFF;
         background-color:var(--primary-color);
         padding: 5px 20px;
         border-radius: 3px;
    }
    #btn:hover{
         background-color: #c0392b;
    }

    h4{
      color: #FFF;
    }

    /*Main Data Table */
.mainTable{
	text-align: center;
	margin-top: 10px;
}
#table{
	margin: 5px auto;
}
table tr:not(:first-child){
	cursor: pointer;
	transition: all .25s ease-in-out;
}
table tr:not(:first-child):hover{
	background-color: #ddd;
}

table{
    width: 60%;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd){
    background-color: lightgray;
}

/*Data Update Button */
.updateBtn{
	text-align: center;
}
.updateBtn button{
	background-color: red;
	padding: 5px 10px;
	border: 1px solid black;
	color: white;
	margin: 10px 0;
	border-radius: 5px;
}
.updateBtn button:hover{
	background: lightgray;
	color: black;
	transition: .5s;
}

/*Data Update Table*/
.editTable{
	display: none;
	padding-top: 20px;
	width: 30%;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.editRowBtn{
	background-color: #0DC143;
	color: white;
	border: 1px solid black;
	padding: 5px 10px;
	border-radius: 5px;
}
.editRowBtn:hover{
	background-color: lightgray;
	color: black;
	transition: .5s;
}
 }

 // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) {
   *{
         padding: 0;
         margin: 0;
         box-sizing: border-box;
    }
    body{
         width: 100%;
         height: 100%;
         background-color: var(--dark-color);
         position: relative;
         font-family: 'verdana',sans-serif;
    }

    card-header{
      width: 100%;
      height: 100%;
      background-color: var(--dark-color);
    }

    header{
         width: 100%;
         height: 80px;
         background-color: var(--dark-color);
    }
    table{
         width: 100%;
         height: 100%;
         position: absolute;
         top: 50%;
    }
    .heading{
         background-color: var(--light-color);
    }

    th{
         padding: 10px 0;
         color: var(--light-color);
    }
    data{
         text-align: center;
         color: var(--light-color);
    }
    td{
         padding: 15px 0;
         color: var(--light-color);
    }
    #btn{
         text-decoration: none;
         color: #FFF;
         background-color:var(--primary-color);
         padding: 5px 20px;
         border-radius: 3px;
    }
    #btn:hover{
         background-color: #c0392b;
    }

    h4{
      color: #FFF;
    }

    /*Main Data Table */
.mainTable{
	text-align: center;
	margin-top: 10px;
}
#table{
	margin: 5px auto;
}
table tr:not(:first-child){
	cursor: pointer;
	transition: all .25s ease-in-out;
}
table tr:not(:first-child):hover{
	background-color: #ddd;
}

table{
    width: 60%;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd){
    background-color: lightgray;
}

/*Data Update Button */
.updateBtn{
	text-align: center;
}
.updateBtn button{
	background-color: red;
	padding: 5px 10px;
	border: 1px solid black;
	color: white;
	margin: 10px 0;
	border-radius: 5px;
}
.updateBtn button:hover{
	background: lightgray;
	color: black;
	transition: .5s;
}

/*Data Update Table*/
.editTable{
	display: none;
	padding-top: 20px;
	width: 30%;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.editRowBtn{
	background-color: #0DC143;
	color: white;
	border: 1px solid black;
	padding: 5px 10px;
	border-radius: 5px;
}
.editRowBtn:hover{
	background-color: lightgray;
	color: black;
	transition: .5s;
}
 }

 // Medium devices (desktops, 992px and up)
 @media (min-width: 992px) {
   *{
         padding: 0;
         margin: 0;
         box-sizing: border-box;
    }
    body{
         width: 100%;
         height: 100%;
         background-color: var(--dark-color);
         position: relative;
         font-family: 'verdana',sans-serif;
    }

    card-header{
      width: 100%;
      height: 100%;
      background-color: var(--dark-color);
    }

    header{
         width: 100%;
         height: 80px;
         background-color: var(--dark-color);
    }
    table{
         width: 100%;
         height: 100%;
         position: absolute;
         top: 50%;
    }
    .heading{
         background-color: var(--light-color);
    }

    th{
         padding: 10px 0;
         color: var(--light-color);
    }
    data{
         text-align: center;
         color: var(--light-color);
    }
    td{
         padding: 15px 0;
         color: var(--light-color);
    }
    #btn{
         text-decoration: none;
         color: #FFF;
         background-color:var(--primary-color);
         padding: 5px 20px;
         border-radius: 3px;
    }
    #btn:hover{
         background-color: #c0392b;
    }

    h4{
      color: #FFF;
    }
    /*Main Data Table */
.mainTable{
	text-align: center;
	margin-top: 10px;
}
#table{
	margin: 5px auto;
}
table tr:not(:first-child){
	cursor: pointer;
	transition: all .25s ease-in-out;
}
table tr:not(:first-child):hover{
	background-color: #ddd;
}

table{
    width: 60%;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd){
    background-color: lightgray;
}

/*Data Update Button */
.updateBtn{
	text-align: center;
}
.updateBtn button{
	background-color: red;
	padding: 5px 10px;
	border: 1px solid black;
	color: white;
	margin: 10px 0;
	border-radius: 5px;
}
.updateBtn button:hover{
	background: lightgray;
	color: black;
	transition: .5s;
}

/*Data Update Table*/
.editTable{
	display: none;
	padding-top: 20px;
	width: 30%;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.editRowBtn{
	background-color: #0DC143;
	color: white;
	border: 1px solid black;
	padding: 5px 10px;
	border-radius: 5px;
}
.editRowBtn:hover{
	background-color: lightgray;
	color: black;
	transition: .5s;
}
 }

 // Medium devices (large desktops, 1200px and up)
 @media (min-width: 1200px) {
   *{
         padding: 0;
         margin: 0;
         box-sizing: border-box;
    }
    body{
         width: 100%;
         height: 100%;
         background-color: var(--dark-color);
         position: relative;
         font-family: 'verdana',sans-serif;
    }

    card-header{
      width: 100%;
      height: 100%;
      background-color: var(--dark-color);
    }

    header{
         width: 100%;
         height: 80px;
         background-color: var(--dark-color);
    }
    table{
         width: 100%;
         height: 100%;
         position: absolute;
         top: 50%;
    }
    .heading{
         background-color: var(--light-color);
    }

    th{
         padding: 10px 0;
         color: var(--light-color);
    }
    data{
         text-align: center;
         color: var(--light-color);
    }
    td{
         padding: 15px 0;
         color: var(--light-color);
    }
    #btn{
         text-decoration: none;
         color: #FFF;
         background-color:var(--primary-color);
         padding: 5px 20px;
         border-radius: 3px;
    }
    #btn:hover{
         background-color: #c0392b;
    }

    h4{
      color: #FFF;
    }
    /*Main Data Table */
.mainTable{
	text-align: center;
	margin-top: 10px;
}
#table{
	margin: 5px auto;
}
table tr:not(:first-child){
	cursor: pointer;
	transition: all .25s ease-in-out;
}
table tr:not(:first-child):hover{
	background-color: #ddd;
}

table{
    width: 60%;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd){
    background-color: lightgray;
}

/*Data Update Button */
.updateBtn{
	text-align: center;
}
.updateBtn button{
	background-color: red;
	padding: 5px 10px;
	border: 1px solid black;
	color: white;
	margin: 10px 0;
	border-radius: 5px;
}
.updateBtn button:hover{
	background: lightgray;
	color: black;
	transition: .5s;
}

/*Data Update Table*/
.editTable{
	display: none;
	padding-top: 20px;
	width: 30%;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.editRowBtn{
	background-color: #0DC143;
	color: white;
	border: 1px solid black;
	padding: 5px 10px;
	border-radius: 5px;
}
.editRowBtn:hover{
	background-color: lightgray;
	color: black;
	transition: .5s;
}
 }
