:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.2;
  background-color: var(--dark-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 200;
  line-height: 1.0;
}

/* Navbar */
.navbar {
  background-color: var(--dark-color);
  color: #fff;
  height: 70px;
}

.navbar_container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.active{
  text-decoration: underline;
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

.showcase {
  height: 100px;
  background-color: var(--dark-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -100px;
  right: 0;
  left: 0;
  background-color: #ff8c00;
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
}

.container{
    width: 100%;
    height: 700px;
    font-family: sans-serif;
    color: #fff;
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: absolute;
}

.card{
  background-color: #ff8c00;
  color: var(--dark-color);
  width: 500px;
  height: 650px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.inner-box{
  position: static;
  width: 100%;
  height: 450px;
  transform-style: preserve-3d;
  transition: transform 2s;
}
.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: contain;
  background-color: #ff8c00 ;
  padding: 100px;
  box-sizing: border-box;
  backface-visibility: hidden;
}

.card-back{
  transform: rotateY(180deg);
}

.card h2{
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

input {
  width: 100%;
  background: transparent;
  border: 2px solid var(--dark-color);
  margin: 10px 0 10px;
  height: 25px;
  border-radius: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: var(--dark-color);
}
::placeholder{
  color: var(--dark-color);
  font-size: 15px;
  position: static;
}

button{
  width: 100%;
  background: transparent;
  border: 2px solid var(--dark-color);
  margin: 35px 0 10px;
  height: 25px;
  font-size: 15px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: var(--dark-color);
  cursor: pointer;
}

.submit-btn{
  position: relative;
}

.submit-btn::after{
  content: '\27a4';
  color: #333;
  line-height: 32px;
  font-size: 17px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
}
span{
  font-size: 13px;
  margin-left: 10px;
}

.card .btn{
  margin-top: 50px;
}

.card a{
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.2;
    background-color: var(--dark-color);
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  h1,
  h2 {
    font-weight: 200;
    line-height: 1.0;
  }

  /* Navbar */
  .navbar {
    background-color: var(--dark-color);
    color: #fff;
    height: 70px;
  }

  .navbar_container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
  }

  .active{
    text-decoration: underline;
    font-weight: bold;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar ul {
    display: flex;
  }

  .navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
  }

  .navbar a:hover {
    border-bottom: 2px #fff solid;
  }

  .navbar .flex {
    justify-content: space-between;
  }

  .showcase {
    height: 100px;
    background-color: var(--dark-color);
    color: #fff;
    position: relative;
  }

  .showcase h1 {
    font-size: 40px;
  }

  .showcase p {
    margin: 20px 0;
  }

  .showcase::before,
  .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -100px;
    right: 0;
    left: 0;
    background-color: #ff8c00;
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
  }

  .container{
      width: 100%;
      height: 700px;
      font-family: sans-serif;
      color: #fff;
      display: flex;
      align-items: baseline;
      justify-content: center;
      position: absolute;
  }

  .card{
    background-color: #ff8c00;
    color: var(--dark-color);
    width: 500px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
  }

  .inner-box{
    position: static;
    width: 100%;
    height: 450px;
    transform-style: preserve-3d;
    transition: transform 2s;
  }
  .card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: contain;
    background-color: #ff8c00 ;
    padding: 100px;
    box-sizing: border-box;
    backface-visibility: hidden;
  }

  .card-back{
    transform: rotateY(180deg);
  }

  .card h2{
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    background: transparent;
    border: 2px solid var(--dark-color);
    margin: 10px 0 10px;
    height: 25px;
    border-radius: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: var(--dark-color);
  }
  ::placeholder{
    color: var(--dark-color);
    font-size: 15px;
    position: static;
  }

  button{
    width: 100%;
    background: transparent;
    border: 2px solid var(--dark-color);
    margin: 35px 0 10px;
    height: 25px;
    font-size: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: var(--dark-color);
    cursor: pointer;
  }

  .submit-btn{
    position: relative;
  }

  .submit-btn::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
  }
  span{
    font-size: 13px;
    margin-left: 10px;
  }

  .card .btn{
    margin-top: 50px;
  }

  .card a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.2;
    background-color: var(--dark-color);
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  h1,
  h2 {
    font-weight: 200;
    line-height: 1.0;
  }

  /* Navbar */
  .navbar {
    background-color: var(--dark-color);
    color: #fff;
    height: 70px;
  }

  .navbar_container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
  }

  .active{
    text-decoration: underline;
    font-weight: bold;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar ul {
    display: flex;
  }

  .navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
  }

  .navbar a:hover {
    border-bottom: 2px #fff solid;
  }

  .navbar .flex {
    justify-content: space-between;
  }

  .showcase {
    height: 100px;
    background-color: var(--dark-color);
    color: #fff;
    position: relative;
  }

  .showcase h1 {
    font-size: 40px;
  }

  .showcase p {
    margin: 20px 0;
  }

  .showcase::before,
  .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -100px;
    right: 0;
    left: 0;
    background-color: #ff8c00;
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
  }

  .container{
      width: 100%;
      height: 700px;
      font-family: sans-serif;
      color: #fff;
      display: flex;
      align-items: baseline;
      justify-content: center;
      position: absolute;
  }

  .card{
    background-color: #ff8c00;
    color: var(--dark-color);
    width: 500px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
  }

  .inner-box{
    position: static;
    width: 100%;
    height: 450px;
    transform-style: preserve-3d;
    transition: transform 2s;
  }
  .card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: contain;
    background-color: #ff8c00 ;
    padding: 100px;
    box-sizing: border-box;
    backface-visibility: hidden;
  }

  .card-back{
    transform: rotateY(180deg);
  }

  .card h2{
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    background: transparent;
    border: 2px solid var(--dark-color);
    margin: 10px 0 10px;
    height: 25px;
    border-radius: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: var(--dark-color);
  }
  ::placeholder{
    color: var(--dark-color);
    font-size: 15px;
    position: static;
  }

  button{
    width: 100%;
    background: transparent;
    border: 2px solid var(--dark-color);
    margin: 35px 0 10px;
    height: 25px;
    font-size: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: var(--dark-color);
    cursor: pointer;
  }

  .submit-btn{
    position: relative;
  }

  .submit-btn::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
  }
  span{
    font-size: 13px;
    margin-left: 10px;
  }

  .card .btn{
    margin-top: 50px;
  }

  .card a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
  }
}

// Medium devices (desktops, 992px and up)
@media (min-width: 992px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.2;
    background-color: var(--dark-color);
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  h1,
  h2 {
    font-weight: 200;
    line-height: 1.0;
  }

  /* Navbar */
  .navbar {
    background-color: var(--dark-color);
    color: #fff;
    height: 70px;
  }

  .navbar_container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
  }

  .active{
    text-decoration: underline;
    font-weight: bold;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar ul {
    display: flex;
  }

  .navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
  }

  .navbar a:hover {
    border-bottom: 2px #fff solid;
  }

  .navbar .flex {
    justify-content: space-between;
  }

  .showcase {
    height: 100px;
    background-color: var(--dark-color);
    color: #fff;
    position: relative;
  }

  .showcase h1 {
    font-size: 40px;
  }

  .showcase p {
    margin: 20px 0;
  }

  .showcase::before,
  .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -100px;
    right: 0;
    left: 0;
    background-color: #ff8c00;
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
  }

  .container{
      width: 100%;
      height: 700px;
      font-family: sans-serif;
      color: #fff;
      display: flex;
      align-items: baseline;
      justify-content: center;
      position: absolute;
  }

  .card{
    background-color: #ff8c00;
    color: var(--dark-color);
    width: 500px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
  }

  .inner-box{
    position: static;
    width: 100%;
    height: 450px;
    transform-style: preserve-3d;
    transition: transform 2s;
  }
  .card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: contain;
    background-color: #ff8c00 ;
    padding: 100px;
    box-sizing: border-box;
    backface-visibility: hidden;
  }

  .card-back{
    transform: rotateY(180deg);
  }

  .card h2{
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    background: transparent;
    border: 2px solid var(--dark-color);
    margin: 10px 0 10px;
    height: 25px;
    border-radius: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: var(--dark-color);
  }
  ::placeholder{
    color: var(--dark-color);
    font-size: 15px;
    position: static;
  }

  button{
    width: 100%;
    background: transparent;
    border: 2px solid var(--dark-color);
    margin: 35px 0 10px;
    height: 25px;
    font-size: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: var(--dark-color);
    cursor: pointer;
  }

  .submit-btn{
    position: relative;
  }

  .submit-btn::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
  }
  span{
    font-size: 13px;
    margin-left: 10px;
  }

  .card .btn{
    margin-top: 50px;
  }

  .card a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
  }
}

// Medium devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.2;
    background-color: var(--dark-color);
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  h1,
  h2 {
    font-weight: 200;
    line-height: 1.0;
  }

  /* Navbar */
  .navbar {
    background-color: var(--dark-color);
    color: #fff;
    height: 70px;
  }

  .navbar_container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
  }

  .active{
    text-decoration: underline;
    font-weight: bold;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .navbar ul {
    display: flex;
  }

  .navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
  }

  .navbar a:hover {
    border-bottom: 2px #fff solid;
  }

  .navbar .flex {
    justify-content: space-between;
  }

  .showcase {
    height: 100px;
    background-color: var(--dark-color);
    color: #fff;
    position: relative;
  }

  .showcase h1 {
    font-size: 40px;
  }

  .showcase p {
    margin: 20px 0;
  }

  .showcase::before,
  .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -100px;
    right: 0;
    left: 0;
    background-color: #ff8c00;
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
  }

  .container{
      width: 100%;
      height: 700px;
      font-family: sans-serif;
      color: #fff;
      display: flex;
      align-items: baseline;
      justify-content: center;
      position: absolute;
  }

  .card{
    background-color: #ff8c00;
    color: var(--dark-color);
    width: 500px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
  }

  .inner-box{
    position: static;
    width: 100%;
    height: 450px;
    transform-style: preserve-3d;
    transition: transform 2s;
  }
  .card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: contain;
    background-color: #ff8c00 ;
    padding: 100px;
    box-sizing: border-box;
    backface-visibility: hidden;
  }

  .card-back{
    transform: rotateY(180deg);
  }

  .card h2{
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    background: transparent;
    border: 2px solid var(--dark-color);
    margin: 10px 0 10px;
    height: 25px;
    border-radius: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: var(--dark-color);
  }
  ::placeholder{
    color: var(--dark-color);
    font-size: 15px;
    position: static;
  }

  button{
    width: 100%;
    background: transparent;
    border: 2px solid var(--dark-color);
    margin: 35px 0 10px;
    height: 25px;
    font-size: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: var(--dark-color);
    cursor: pointer;
  }

  .submit-btn{
    position: relative;
  }

  .submit-btn::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
  }
  span{
    font-size: 13px;
    margin-left: 10px;
  }

  .card .btn{
    margin-top: 50px;
  }

  .card a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
  }
}
